# Site wide configuration

title: Micronaut's BlogBook
locale: en_US
timezone: CET
description: The chronicles of Aleh &amp; the Micronaut
logo: site-logo.svg
search: true
url: http://themicronaut.github.io
# common url for images and other external data  
external_data_url: https://raw.githubusercontent.com/TheMicronaut/blog-images-folder/master

# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: rouge
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-paginate

kramdown:
  input: GFM
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..2
  enable_coderay: false

mathjax: true

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", ".less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md", "vendor"]

paginate: 20
paginate_path: /posts/page:num


# Site owner
owner:
  name: Aleh &amp; the Micronaut
  avatar: site-logo.png
  email: moonlight.fairytales@gmail.com
  disqus-shortname: TheMicronaut
  twitter: aleh_tunes
  facebook: #username
  github: TheMicronaut
  stackexchange: #http://stackoverflow.com/users/123456/username
  linkedin: #username
  instagram:
    user: aleh.andro
    userId: 612348438
    clientId: b8457ffeaaa64dc0b6944495c1defb6d
  flickr: #username
  tumblr: themicronaut
  pinterest: #username
  weibo: #userid
  soundcloud: aleh_tunes
  mixcloud: MoonlightFairyTales
  lastfm: AL3x4ndros
  tawkto:
    siteID: 57dd49687d8c31174a0dc0b8
  google:
    plus:
    analytics: UA-54877893-1
    verify:
    ad-client:
    ad-slot:
  bing-verify: