---
layout: page
title: Latest Posts
excerpt: "The main page."
search_omit: true
---

<ul class="post-list">
{% for post in paginator.posts %} 
  <li><article><a class="alt-font-normal" href="{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
      {% if post.categories %}<i class="fa fa-angle-double-right"></i>&nbsp;<a class="alt-font-small" href="/{{ post.categories | first }}" title="Posts in {{ post.categories | first }} category">{{ post.categories | first }}</a>{% endif %}&nbsp;&nbsp;
	  {% if post.tags %}<i class="fa fa-tags"></i>&nbsp;{% endif %}{% for tag in post.tags %}<a class="alt-font-small" href="/tags/#{{ tag }}" title="Posts tagged {{ tag }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;·&nbsp;{% endunless %}{% endfor %}&nbsp;&nbsp;
	  {% capture readtime %}{{ post.content | number_of_words | plus:91 | divided_by:150.0 | append:'.' | split:'.' | first }}{% endcapture %}<i class="fa fa-clock-o"></i><span class="alt-font-small">&nbsp;{% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. reading</span><br>
	  <span class="alt-font-small">{{ post.excerpt | strip_html | truncatewords:125}}</span><br>
	  <br>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn" style="font-size: 15pt">&#9754;  Page {{ paginator.previous_page }}</a>
  {% endif %}
<!--   <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span> -->
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn" style="font-size: 15pt">Page {{ paginator.next_page }}  &#9755;</a>
  {% endif %}
</div>

</ul>