---
layout: page
title: Latest Posts
excerpt: "The main page."
search_omit: true
---

<ul class="post-list">
{% for post in paginator.posts %} 
  <li><article><a class="alt-font-normal" href="{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
      <span class="alt-font-small">{{ post.excerpt | strip_html | truncatewords:125}}</span><br>
      {% for tag in post.tags %}<a class="alt-font-smallest" href="/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}<br>
      <a class="alt-font-smallest" href="{{ post.url }}"><i>Read more &#8594;<i></a><br><br>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn" style="font-size: 15pt">&#9754;  Page {{ paginator.previous_page }}</a>
  {% endif %}
<!--   <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span> -->
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn" style="font-size: 15pt">Page {{ paginator.next_page }}  &#9755;</a>
  {% endif %}
</div>

</ul>