<script type="text/javascript">
  var BASE_URL = '{{ site.url }}';
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.owner.google.analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
<!-- Scroll effect for invisible & lazy elements -->
<script type="text/javascript">
$(document).ready(function() {

	/* Hide the 'back-top' element */
	$("#back-top").hide();
    
    /* Every time the window is scrolled ... */
    $(window).scroll( function() {
        
		/* Check the location of each 'invisible' element */
        $('.invisible').each( function(i) {
            
            /*var bottom_of_object = $(this).offset().top + $(this).outerHeight();*/
			var middle_of_object = $(this).offset().top + ($(this).outerHeight()  * 0.5);
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            
            /* If the object is half visible in the window... */
            if( bottom_of_window > middle_of_object ) { 
				/* 1. load any lazy sources inside the object */
				var $iframe=$(this).find('iframe');
				if ($iframe.data('src')) { // only do it once per iframe
					$iframe.prop('src', $iframe.data('src')).data('src', false);
				}
				var $img=$(this).find('img').each(function (index, element) { // do it for each nested image
					if ($(this).data('src')) { // only do it once per image
						$(this).prop('src', $(this).data('src')).data('src', false);
					}
				});
				/* 2. fade-in the object */
                $(this).animate({'opacity':'1'}, 500);
            }
            
        });
		
		/* Show or hide the back-top element */
		if ($(this).scrollTop() > 500) {
			$('#back-top').fadeIn(100);
		} else {
			$('#back-top').fadeOut(100);
		}		

    });
	
	/* Scroll to top */
	$(function () {
		/* scroll body to 0px on click */
		$('#back-top a').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 800);
			return false;
		});
	});	
    
});
</script>
<!-- Toggle Comments -->
<script type="text/javascript">
$( "#comments" ).click(function() {
  $( "#comments-wrap" ).slideToggle( "slow", function() {
    // Animation complete.
  });
});
</script>