<div class="inline-btn">
	<a class="btn-social twitter" href="https://twitter.com/intent/tweet?hashtags={{ page.tags | join: ',' | remove: ' ' }}&amp;text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.url }}&amp;via={{ site.owner.twitter }}" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> Share on Twitter</a>
	<a class="btn-social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i> Share on Facebook</a>
	<a class="btn-social google-plus"  href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i> Share on Google+</a>
</div><!-- /.share-this -->

<!--    The original code      
          <span class="social-icons">
              <a href="https://twitter.com/intent/tweet?hashtags={{ page.tags | join: ',' | remove: ' ' }}&text={{ page.title | escape | replace:' ','%20' }}&url={{ site.url }}{{ page.url }}{% if author.twitter %}&via={{ author.twitter }}{% endif %}" title="Share on Twitter" itemprop="Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" itemprop="Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
              <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus" itemprop="GooglePlus" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </span> -->