// Printability
// --------------------------------------------------
@media print {
  .no-print {
    display:none;
  }
  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }
  table, figure, p {
    page-break-inside: avoid;
  }
}

// Visibility (Scroll Effects)
// --------------------------------------------------
.invisible {
	opacity: 0;
}

.visible {
	opacity: 1;
}

// First paragraph letter
// --------------------------------------------------
.dcap {
	color: #000; 
	display: block; 
	float: left; 
	font-family:  $cap-font;
	font-size: 75px; 
	font-weight: 400;
	height: 60px; 
	line-height: 75px; 
}

div .central-quote {
    background:
        url(/images/divider-top.png) top center no-repeat,
        url(/images/divider-bottom.png) bottom center no-repeat;
    background-size: contain;
    color: #222;
    font-family:  $quote-font;
    font-style: italic;	
    line-height: 1.2em; 
	padding: 30px 30px 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include font-size(22,yes,22);
    @include media($medium) {
	    @include font-size(24,yes,24);
		max-width: 80%;
    }
    @include media($large) {
        @include font-size(26,yes,26);
		max-width: 70%;
    }
}

div .text-divider {
    background: url(/images/divider-text.png) center no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 25px;
	max-width: 40%;
} 

// Images
// --------------------------------------------------
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Social share
// --------------------------------------------------
.social-share {
	$social: 
        (facebook, $facebook-color),
		(flickr, $flickr-color),
		(foursquare, $foursquare-color),
		(google-plus, $google-plus-color),
		(instagram, $instagram-color),
		(linkedin, $linkedin-color),
		(pinterest, $pinterest-color),
		(rss, $rss-color),
		(tumblr, $tumblr-color),
		(twitter, $twitter-color),
		(vimeo, $vimeo-color),
		(youtube, $youtube-color);
    outline: none !important;
	color: $link-color;
	&:hover {
        @each $socialnetwork, $color in $social {
            i.fa-#{$socialnetwork} {
                color: $color;
            } 
        }
	}
}

// PREVIEWS-NEXT POST
// --------------------------------------------------
.next-prev a {
	background: $navarrows-color;
	color: $white;
	padding: 10px;
	font-size: 14px;
	font-family:  $alt-font; 
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	@include media($micro) {
		display: none;
	}
}

.next-prev a:hover {
	background: $black;
}

.next-post a {
	position: fixed;
	z-index: 20;
	right: -112px;
	top: 50%;
	padding-right: 20px;
	padding-left: 37px;
	-webkit-transition: .2s ease-in;  
	-moz-transition: .2s ease-in;  
	-o-transition: .2s ease-in;  
	transition: .2s ease-in; 
}

.next-post a:hover {
	right: 0px;
	-webkit-transition: .2s ease-in;  
	-moz-transition: .2s ease-in;  
	-o-transition: .2s ease-in;  
	transition: .2s ease-in; 
}

.next-post a:after {
	color: $white;
	position: absolute;
	content: "\f054";
	left: 6px;
	top: 6px;
	font-size: 20px;
	font-family: 'FontAwesome';
    -webkit-font-smoothing: antialiased;
}

.prev-post a {
	position: fixed;
	z-index: 20;
	left: -150px;
	top: 50%;
	padding-left: 20px;
	padding-right: 37px;
	-webkit-transition: .2s ease-in;  
	-moz-transition: .2s ease-in;  
	-o-transition: .2s ease-in;  
	transition: .2s ease-in; 
}

.prev-post a:hover {
	left: 0;
	-webkit-transition: .2s ease-in;  
	-moz-transition: .2s ease-in;  
	-o-transition: .2s ease-in;  
	transition: .2s ease-in; 
}

.prev-post a:after {
	color: $white;
	position: absolute;
	content: "\f053";
	right: 6px;
	top: 6px;
	font-size: 20px;
	font-family: 'FontAwesome';
    -webkit-font-smoothing: antialiased;
}

// Back to top
// --------------------------------------------------
#back-top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 2px;
    margin-right: 3px;
    outline: none !important;
}

#back-top a {
    display: block;
    text-decoration: none;
    color: $navarrows-color;
    outline: none !important;
}
#back-top a:hover {
	color: $black;
}

// Comments section
// --------------------------------------------------
#comments {
	background: #F1F1F1;
	border-top: solid 1px #eee;
    float: left;
	width: 100%;
	margin-top: 12px;
}

#comments-wrap {
	width: 90%;
	margin: 0 auto;
	/*padding: 1% 0;*/
}

#comments-title {
	background: #F1F1F1;
	padding: 3% 0;
	margin: 0rem !important;
	font-family: $alt-font;
	@include font-size(30,yes,30);	
	font-weight: 500px;
	text-align: center;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

#comments .comment-toggle:hover {
	background: #EBEBEB;
	cursor: pointer;
	 -webkit-transition: .07s ease-in;  
	-moz-transition: .07s ease-in;  
	-o-transition: .07s ease-in;  
	transition: .07s ease-in; 
}
