// Visibility (Scroll Effects)
// --------------------------------------------------
.invisible {
	opacity: 0;
}

.visible {
	opacity: 1;
}

// First paragraph letter
// --------------------------------------------------
.dcap {
	color: #000; 
	display: block; 
	float: left; 
	font-family:  $alt-font;
	font-size: 74px; 
	height: 62px; 
	line-height: 72px; 
	padding-left: 0; 
	padding-right: 8px;
}

// Alternative Fonts
// --------------------------------------------------

.alt-font-big {
	font-family: $alt-font;
	@include font-size(30,yes,30);
	font-weight: 300;
	a {
		color: $black;
		text-decoration: underline;
	}
 }
 
.alt-font-normal {
	font-family: $alt-font;
	font-style: italic;
	@include font-size(20,yes,20);
	font-weight: 200;
	a {
		color: $black;
		text-decoration: underline;
	}
 }
 
.alt-font-small {
	font-family: $alt-font;
	@include font-size(16,yes,16);
	a {
		color: $black;
		text-decoration: underline !important;
	}
 }
 
.alt-font-smallest {
	font-family: $alt-font;
	@include font-size(14,yes,14);
	a {
		color: $black;
		text-decoration: underline !important;
	}
 }

// Breadcrumbs
// --------------------------------------------------
.breadcrumbs { 
	@include row;
	margin-top: $gutter;
	@include font-size(10,no);
	a {
		display: inline-block;
		font-family: $alt-font;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
	}
}

// Images
// --------------------------------------------------
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Social share
// --------------------------------------------------
.social-share {
	$social: 
        (facebook, $facebook-color),
		(flickr, $flickr-color),
		(foursquare, $foursquare-color),
		(google-plus, $google-plus-color),
		(instagram, $instagram-color),
		(linkedin, $linkedin-color),
		(pinterest, $pinterest-color),
		(rss, $rss-color),
		(tumblr, $tumblr-color),
		(twitter, $twitter-color),
		(vimeo, $vimeo-color),
		(youtube, $youtube-color);
    outline: none !important;
    font-size: 1.2em;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
	&:hover {
		-webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        -ms-transform: scale(2);
		animation-fill-mode: forwards;
        @each $socialnetwork, $color in $social {
            i.fa-#{$socialnetwork} {
                color: $color;
            } 
        }
	}
}

// Google Search Form
// --------------------------------------------------
#goog-fixurl {
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		li {
			list-style-type: none;
		}
	}
}
#goog-wm-qt {
	width: auto;
	margin-right: 10px;
	padding: 8px 10px;
	@include font-size(14);
	border-width: 2px;
	border-radius: $border-radius;
}
#goog-wm-sb {
	@extend .btn;
}

// ANIMATIONS
// --------------------------------------------------
@include keyframes(wiggle) {
	25%, 50%, 75%, 100% { @include transform-origin(top center); }
	25% { @include transform(rotate(8deg)); }
	50% { @include transform(rotate(-4deg)); }
	75% { @include transform(rotate(2deg)); }
	100% { @include transform(rotate(0deg)); }
}


@include keyframes(pop) {
	50% { @include transform(scale(1.1)); }
	100% { @include transform(scale(1)); }
}


@include keyframes(hang) {
	50% { @include transform(translateY(-3px)); }
	100% { @include transform(translateY(-6px)); }
}
.hang {
	display: inline-block;
	@include animation-name(hang);
	@include animation-duration(0.5s);
	@include animation-timing-function(linear);
	@include animation-iteration-count(infinite);
	@include animation-direction(alternate);
}

// PREVIEWS-NEXT POST
// --------------------------------------------------
.next-prev a {
	background: $navarrows-color;
	padding: 10px;
	color: $white;
	font-size: 14px;
	font-family:  $alt-font; 
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	@include media($micro) {
		display: none;
	}
}

.next-post a {
	position: fixed;
	z-index: 20;
	right: -112px;
	top: 45%;
	padding-right: 20px;
	padding-left: 37px;
	-webkit-transition: .2s ease-in;  
	-moz-transition: .2s ease-in;  
	-o-transition: .2s ease-in;  
	transition: .2s ease-in; 
}

.next-post a:hover {
	right: 0px;
	-webkit-transition: .2s ease-in;  
	-moz-transition: .2s ease-in;  
	-o-transition: .2s ease-in;  
	transition: .2s ease-in; 
}

.next-post a:after {
	position: absolute;
	content: "\f054";
	left: 6px;
	top: 6px;
	color: $white;
	font-size: 20px;
	font-family: 'FontAwesome';
    -webkit-font-smoothing: antialiased;
}

.prev-post a {
	position: fixed;
	z-index: 20;
	left: -150px;
	top: 45%;
	padding-left: 20px;
	padding-right: 37px;
	-webkit-transition: .2s ease-in;  
	-moz-transition: .2s ease-in;  
	-o-transition: .2s ease-in;  
	transition: .2s ease-in; 
}

.prev-post a:hover {
	left: 0;
	-webkit-transition: .2s ease-in;  
	-moz-transition: .2s ease-in;  
	-o-transition: .2s ease-in;  
	transition: .2s ease-in; 
}

.prev-post a:after {
	position: absolute;
	content: "\f053";
	right: 6px;
	top: 6px;
	color: #fff;
	font-size: 20px;
	font-family: 'FontAwesome';
    -webkit-font-smoothing: antialiased;
}

// Back to top
// --------------------------------------------------
#back-top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 2px;
    margin-right: 2px;
    outline: none !important;
}

#back-top a {
    display: block;
    /* font-size: 20px; */
    text-decoration: none;
    color: $navarrows-color;
    outline: none !important;
}
#back-top a:hover {
	color: #000;
}