// TYPOGRAPHY ================================================
/* This is the default font face used for all browsers. */
@font-face {
    font-family: 'eb_garamond12_regular';
    src: url('../fonts/eb-garamond-0016/ebgaramond12-regular-webfont.eot');
    src: url('../fonts/eb-garamond-0016/ebgaramond12-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eb-garamond-0016/ebgaramond12-regular-webfont.woff2') format('woff2'),
         url('../fonts/eb-garamond-0016/ebgaramond12-regular-webfont.woff') format('woff'),
         url('../fonts/eb-garamond-0016/ebgaramond12-regular-webfont.ttf') format('truetype'),
         url('../fonts/eb-garamond-0016/ebgaramond12-regular-webfont.svg#eb_garamond12_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* This is the default font face used for all browsers. */
@font-face {
    font-family: 'eb_garamond12_italic';
    src: url('../fonts/eb-garamond-0016/ebgaramond12-italic-webfont.eot');
    src: url('../fonts/eb-garamond-0016/ebgaramond12-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eb-garamond-0016/ebgaramond12-italic-webfont.woff2') format('woff2'),
         url('../fonts/eb-garamond-0016/ebgaramond12-italic-webfont.woff') format('woff'),
         url('../fonts/eb-garamond-0016/ebgaramond12-italic-webfont.ttf') format('truetype'),
         url('../fonts/eb-garamond-0016/ebgaramond12-italic-webfont.svg#eb_garamond12_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* This is the default font face used for all browsers. */
@font-face {
    font-family: 'zallman_capsregular';
    src: url('../fonts/eb-garamond-0016/zallmancaps-webfont.eot');
    src: url('../fonts/eb-garamond-0016/zallmancaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eb-garamond-0016/zallmancaps-webfont.woff2') format('woff2'),
         url('../fonts/eb-garamond-0016/zallmancaps-webfont.woff') format('woff'),
         url('../fonts/eb-garamond-0016/zallmancaps-webfont.ttf') format('truetype'),
         url('../fonts/eb-garamond-0016/zallmancaps-webfont.svg#zallman_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$base-font: 'eb_garamond12_regular', 'eb_garamond12_italic', sans-serif;
$alt-font: 'Philosopher', 'eb_garamond12_regular', sans-serif;
$figcaption-font: 'eb_garamond12_regular', sans-serif;
$quote-font: 'eb_garamond12_italic', sans-serif;
$cap-font: 'zallman_capsregular', 'eb_garamond12_regular', sans-serif;
$heading-font: $base-font;
$title-font: $alt-font;
$code-font: $alt-font;

$doc-font-size: 16;
$doc-line-height: 24;

$border-radius: 3px;


// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;  
}


// COLORS =====================================================
$body-color         : #fff;
$text-color         :  #000; 	//#222;
$base-color         : #343434;    
$comp-color         : spin($base-color, 180); 
$border-color       : #ddd;
$white              : #fff;
$black              : #000;
$accent-color       : $black;
$link-color         : #222;
$navarrows-color    : #696969;

$table-border-color           : $border-color;
$table-border                 : 1px solid $table-border-color;
$table-background             : $body-color;
$table-header-color           : lighten($table-background, 10);
$table-hover-color            : darken($table-background, 2);
$table-stripe-color           : darken($table-background, 4);
$table-stripe-color-hover     : darken($table-stripe-color, 5);

$facebook-color               : #3b5998;
$flickr-color                 : #ff0084;
$foursquare-color             : #0cbadf;
$google-plus-color            : #dd4b39;
$instagram-color              : #4e433c;
$linkedin-color               : #4875b4;
$pinterest-color              : #cb2027;
$rss-color                    : #fa9b39;
$tumblr-color                 : #2c4762;
$twitter-color                : #55acee;
$vimeo-color                  : #1ab7ea;
$youtube-color                : #ff3333;

// MEDIA QUERIES ==============================================
$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";
